<%- include('User_header') %>


        <!-- start page content wrapper-->
        <div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">

             <!--start breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
              <div class="breadcrumb-title pe-3">eCommerce</div>
              <div class="ps-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0 align-items-center">
                    <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                  </ol>
                </nav>
              </div>
              <div class="ms-auto">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary">Settings</button>
                  <button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!--end breadcrumb-->


            <!--start shop cart-->
            <section class="shop-page">
              <div class="shop-container">

                <div class="card shadow-sm border-0">
                  <div class="card-body">
                    <div class="shop-cart">
                      <div class="row">
                        <div class="col-12 col-xl-8">
                          <div class="shop-cart-list">
                            <input type="hidden" value="<%= totalData %>" id="totalCartData">
                            <% var total=0; var i=0; for(var cd of cartData){ %>
                            <div class="card">
                              <div class="card-body">
                                <div class="row align-items-center g-3">
                                  <div class="col-12 col-lg-6">
                                    <div class="d-lg-flex align-items-start gap-3">
                                      <div class="cart-img text-center text-lg-start">
                                        <img src="<%= cd.product_id.singlePr %>" class="rounded" width="130" alt="">
                                      </div>
                                      <div class="cart-detail text-center text-lg-start">
                                        <h6 class="mb-2"><%= cd.product_id.product_name %></h6>
                                        <p class="mb-0">Size: <span>Regular</span>
                                        </p>
                                        <p class="mb-0">Color: <span>White & Blue</span>
                                        <p class="mb-2" id="singlePrice<%= i %>">Price: <span><%= cd.product_id.product_price %>/-</span>
                                        </p>
                                        <h5 class="mb-0" id="">Total ₹<span id="totalamount<%= i %>"><%= cd.product_id.product_price * cd.quantity %></span>/-</h5>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 col-lg-3">
                                    <div class="cart-action text-center d-flex">
                                      <button class="btn" onclick="return qaIncreament('<%= cd.product_id.id %>',<%= i %>)">+</button>
                                      <input type="text" class="form-control" min="1"  id="quantity<%= i %>"  value="<%= cd.quantity %>" disabled >
                                      <button class="btn" onclick="return qaDecreament('<%= cd.product_id.id %>',<%= i %>)">-</button>
                                    </div> 
                                  </div>
                                  <div class="col-12 col-lg-3">
                                    <div class="text-center">
                                      <div class="d-flex gap-2 justify-content-center justify-content-lg-end">
                                        <a href="javascript:;" class="btn btn-primary btn-ecomm"><i class='bx bx-x-circle'></i>Remove</a>
                                        <a href="javascript:;" class="btn btn-outline-primary btn-ecomm"><i class='bx bx-heart mx-0'></i></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <% total += cd.product_id.product_price*cd.quantity %>
                            <% i++ } %>

							
                          </div>
                        </div>
                        <div class="col-12 col-xl-4">
                          <div class="card">
                            <div class="card-body">
                             <!-- <div class="card">
                              <div class="card-body">
                                <p class="fs-5">Apply Discount Code</p>
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Enter discount code">
                                  <button class="btn btn-primary btn-ecomm" type="button">Apply</button>
                                </div>
                              </div>
                            </div> -->
                            <!-- <div class="card">
                              <div class="card-body">
                                <p class="fs-5">Estimate Shipping and Tax</p>
                                <div class="my-3 border-top"></div>
                                <div class="mb-3">
                                  <label class="form-label">Country Name</label>
                                  <select class="form-select">
                                    <option selected>United States</option>
                                    <option value="1">Australia</option>
                                    <option value="2">India</option>
                                    <option value="3">Canada</option>
                                  </select>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">State/Province</label>
                                  <select class="form-select">
                                    <option selected>California</option>
                                    <option value="1">Texas</option>
                                    <option value="2">Canada</option>
                                  </select>
                                </div>
                                <div class="mb-0">
                                  <label class="form-label">Zip/Postal Code</label>
                                  <input type="email" class="form-control">
                                </div>
                              </div>
                            </div> -->
                            <div class="card mb-0">
                              <div class="card-body">
                                <!-- <p class="mb-2">Subtotal: <span class="float-end">$198.00</span>
                                </p>
                                <p class="mb-2">Shipping: <span class="float-end">--</span>
                                </p>
                                <p class="mb-2">Taxes: <span class="float-end">$14.00</span>
                                </p>
                                <p class="mb-0">Discount: <span class="float-end">--</span>
                                </p> -->
                                <div class="my-3 border-top"></div>
                                <h5 class="mb-0" >Order Total: <span class="float-end" id="finalAmount">₹<%= total %></span></h5>
                                <div class="my-4"></div>
                                <div class="d-grid"> <a href="javascript:;" class="btn btn-primary btn-ecomm">Proceed to Checkout</a>
                                </div>
                              </div>
                             </div>
                           </div>
                          </div>
                        </div>
                      </div>
                      <!--end row-->
                    </div>
                  </div>
                 </div>

              </div>
            </section>
            <!--end shop cart-->


          </div>
          <!-- end page content-->
         </div>
         
<script>
   
  

  function qaIncreament(pId,pos){
    
    console.log("Quantity Increament");
    let qa = parseInt(document.getElementById('quantity' + pos).value);
    qua = qa+1; 
    let singlePrice = document.getElementById('singlePrice' + pos).innerText;
    var sp = parseInt(singlePrice.slice(7));
    console.log(sp);
    document.getElementById('totalamount'+pos).innerHTML = qua*sp;
    document.getElementById('quantity'+pos).value = qua;

    let cartData = document.getElementById('totalCartData').value;
    let finalAmount = 0;
    for(let i = 0; i<cartData; i++){
      let ta = parseInt(document.getElementById('totalamount'+i).innerHTML);
      console.log(ta);
      finalAmount += ta;
    }
    document.getElementById('finalAmount').innerHTML = '₹'+finalAmount;

    $.ajax({
      url:'/user/prQuantity',
      method:'post',
      data:{
        prId:pId,
        quantity:qua
      },
      success:function(res){
        console.log(res);
      }
    })
    }   

    function qaDecreament(pId,pos){
    console.log("Quantity Decreament");
    let qa = parseInt(document.getElementById('quantity' + pos).value);
    qua = qa-1; 
    let singlePrice = document.getElementById('singlePrice' + pos).innerText;
    var sp = parseInt(singlePrice.slice(7));
    console.log(sp);
    document.getElementById('totalamount'+pos).innerHTML = qua*sp;
    document.getElementById('quantity'+pos).value = qua;

    let cartData = document.getElementById('totalCartData').value;
    let finalAmount = 0;
    for(let i = 0; i<cartData; i++){
      let ta = parseInt(document.getElementById('totalamount'+i).innerHTML);
      console.log(ta);  
      finalAmount += ta;
    }
    document.getElementById('finalAmount').innerHTML = finalAmount;

    $.ajax({
      url:'/user/prQuantity',
      method:'post',
      data:{
        prId:pId,
        quantity:qua
      },
      success:function(res){
        console.log(res);
      }
    })
    }
</script>
<%- include('User_footer') %>